* {
  background-color: #eaa569;
  box-sizing: border-box;
  margin: 0 auto;
  
}
html {
  background-color: #eaa569;
  font-family: "Arial";
  font-weight: 300;
  font-size: 25px;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

.register,
.register h1,
.register label,
.register div,
.g-recaptcha,
.register h2,
.register h3 {
  background-color: white;
  border-radius: 10px;
  text-align: center;
}
.register h1 {
  font-size: 150%;
  text-align: center;
}
.input_B {
  background-color: white;
  border-color: #eaa569;
  border-radius: 10px;
  line-height: 50%;
  /* font-size: ; */
}

.log_button {
  background-color: #e67e22;
  color: white;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
}
h2{
    font-size: 75%;
}
h3{
    margin-top:3px;
    margin-bottom: 3px;
    font-size:60%;
}

h1,
h2,
h3,
h4{
    color: black;
}